<!-- Footer -->
{% load static %}

<footer>
    <section class="footer-main pt-1 mt-5">
        <div class="container">
        <div class="row f-div">
            <div class="fi-div">
            <div class="f-logo">
                <p><a class="logo-atag" href="{% url 'post_list' slug=station.slug %}" id="base-title-content">Fandeed</a></p>
                <!-- <a href="/"><img src="{% static 'images/PAPAs.png' %}"></a> -->
            </div>
            <div class="f-div text-center contact-div"> 
                <p><a href="mailto:team@fandeed.com">team@fandeed.com</a></p>
            </div>
            <div class="social-icons d-flex justify-content-center f-div">
                <ul>
                <li>
                    <i class="fa fa-facebook-f fb"></i>
                </li>
                <li>
                    <i class="fa fa-twitter tw"></i>
                </li>
                <li>
                    <i class="fa fa-google-plus go" aria-hidden="true"></i>
                </li>
                <li>
                    <i class="fa fa-instagram ins" aria-hidden="true"></i>
                </li>
                </ul>
            </div>
            </div>		
        </div>
        </div>	
    </section>
    </footer>

<!-- Footer -->